<!-- Intro Header -->
<header class="intro">
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <div  style="position:absolute;z-index:1031;">
        <div style="overflow: hidden;margin-top:7px;margin-left:10px;">
            <iframe src="//lightwidget.com/widgets/083b12c91d505844b532e8f0c54f23a1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="border: 1px solid #d742f4;"></iframe>
        </div>
        <a href="http://instagram.com/themachinelive" id="insta-corner" target="_blank" rel="me" style="font-size: 20px;float:left;"><i class="fa fa-instagram fa-fw"></i>On the Road</a>
    </div>
</header>
