<!-- Intro Header -->
<header class="intro">
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <div  style="position:absolute;z-index:1031;">
        <div style="overflow: hidden;margin-top:7px;margin-left:10px;">
            <iframe src="//lightwidget.com/widgets/083b12c91d505844b532e8f0c54f23a1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="border: 1px solid #d742f4;"></iframe>
        </div>
        <a href="http://instagram.com/themachinelive" id="insta-corner" target="_blank" rel="me" style="font-size: 20px;float:left;margin-left:48px;"><i class="fa fa-instagram fa-fw"></i>On the Road</a>
    </div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                
                <div class="col-md-8 col-md-offset-2">
			        <!--<img class="img-me" src="img/logo.png">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>-->
                </div>
            </div>
        </div>
    </div>
</header>
