<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>
                    
		    <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
			<img class="img-me" src="{{ site.me-img }}" alt="
                        The Machine Performs Pink Floyd">
		    </a>
            <p class="intro-text">{{ content }}</p>
                </div>
            </div>
        </div>
    </div>
</header>
