<!-- Tour Section -->
<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ page.content | markdownify }}
                <div class="tour" >
                <table class="table">
                    {% for event in site.data.tour %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% capture class %}
                    {% if loopindex == 0 %}
                    timeline-inverted
                    {% endif %}
                    {% endcapture %}

                    <tr class="{{ class }}">
                        <td>
                            {{ event.date }}
                        </td>
                        <td>
                            <a href="{{ event.venue-url }}">{{ event.venue }}</a>
                        </td>
                        <td>
                            {{ event.location }}
                        </td>
                        <td>
                            <a href="{{ event.tickets-url }}">Tickets</a>
                        </td>
                        <td>
                            <a href="{{ event.rsvp-url }}">RSVP</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
        </div>
    </div>
</section>
