<!-- Tour Section -->
<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ page.content | markdownify }}

                <table class="table">
                    <div class="container" >
                    {% for event in site.data.tour %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% capture class %}
                    {% if loopindex == 0 %}
                    timeline-inverted
                    {% endif %}
                    {% endcapture %}

                    <tr class="{{ class }}">
                        <td><h2>{{ event.date }}</h2></td>
                        <td>
                            <h2><a href="{{ event.venue-url }}">{{ event.venue }}</a></h2>
                        </td>
                        <td><h2>{{ event.location }}</h2></td>
                        <td>
                            <h2><a href="{{ event.tickets-url }}">Tickets</a></h2>
                        </td>
                        <td>
                            <h2><a href="{{ event.rsvp-url }}">RSVP</a></h2>
                        </td>
                    </tr>
                    {% endfor %}
                    </div>
                </table>
        </div>
    </div>
</section>
