<!-- Tour Section -->

<section id="{{ page.title }}" class="container content-section text-center" onload="setTourDisplay();">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ page.content | markdownify }}

            <!--<div id="songkick-wrapper">
                <a href="http://www.songkick.com/artists/324977" class="songkick-widget" data-theme="light" data-detect-style="true" data-font-color="#ffffff" data-background-color="transparent"></a>
                <script src="//widget.songkick.com/widget.js"></script>
            </div>-->

             <div class="tour" >
                <table id="tour-table" class="table">
                    {% for event in site.data.tour %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% capture class %}
                    {% if loopindex == 0 %}
                    timeline-inverted
                    {% endif %}
                    {% endcapture %}

                    <tr style="display:none;">
                        <td style="min-width: 136px;">{{ event.date }}</td>
                        <td>
                            <a href="{{ event.venue-url }}">{{ event.venue }}</a>
                        </td>
                        <td>
                            {{ event.location }}
                        </td>
                        <td>
                            <a href="{{ event.tickets-url }}">Tickets</a>
                        </td>
                        <td>
                            <a href="{{ event.rsvp-url }}">RSVP</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                 <a href="{{ site.url }}/tourarchive">Tour Archive</a>
            </div> 

        </div>
    </div>
</section>
