<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="">
    <section id="{{ page.title }}" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                {{ page.content | markdownify }}

                <div id="login-block">
                    <form id="login">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" />
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" name="password" />
                        <br />
                    </form>
                    <button id="submit" class="btn btn-default">Submit</button>
                </div>

                <div id="hidden" style="display:none;">

                    {% for post in site.posts %}
                    <h4 align="left"><strong>{{ post.date | date_to_string }}</strong>:<a href="{{ post.url }}"> <strong>{{ post.title }} </strong> </a></h4>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>

    {% include js.html %}
    <script src="/js/acp.js"></script>

</body>
</html>


