<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="initPhotoSwipeFromDOM('.my-gallery')">
<script src="/js/photoswipe.min.js"></script>
<script src="/js/photoswipe-ui-default.min.js"></script>
{% include navigation.html %}

{% include photoswipe.html %}

<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ page.content | markdownify }}

            <div class="my-gallery" itemscope=itemscope itemtype="http://schema.org/ImageGallery">
                {% for image in site.static_files %}
                {% if image.path contains 'img/presskit/thumbs' %}

                <figure itemprop="associatedMedia" itemscope=itemscope itemtype="http://schema.org/ImageObject" style="padding:5px;float:left;">
                    <a href="{{ site.url }}/img/presskit/highres/{{ image.name }}" itemprop="contentUrl" data-size="0x0">
                        <img class="media-image" src="{{ site.url }}/img/presskit/thumbs/{{ image.name }}" itemprop="thumbnail" alt="Image description" />
                    </a>
                </figure>
                

                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    <br /><br />

    {% include social-buttons.html %}

</section>

{% include footer.html %}

{% include js.html %}

</body>
</html>
