<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navigation.html %}

<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ page.content | markdownify }}
            <hr /><br /><br />
            {% for item in site.data.store %}

            <h3>{{item.title}}</h3>
            <p>
                <img border="0" src="/img/store/{{item.image}}" style="float: left" width="230" height="201">
                {{item.description}}
            </p>

            <div>
                <table align="center">
                    <tr>
                        {% if item.itunes-link%}
                        <td>
                            <!-- iTunes snippet -->
                            <a href="http://itunes.apple.com/us/album/symphonic-side-moon-a-live/id447491568?uo=4">
                                <img src="http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_itunes-lrg.gif"  style="border: 0;">
                            </a>
                        </td>
                        {% endif %}
                        <td width="5vw"></td>
                    </tr>
                </table>
            </div>
            <br />
            {{item.tracks}}
            <br /><br /><hr /><br /><br />
            {% endfor %}
        </div>
    </div>
</section>

<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {% include social-buttons.html %}
        </div>
    </div>
</section>

{% include footer.html %}

{% include js.html %}

</body>
</html>
